apiVersion: v1
kind: Service
metadata:
  name: austin-nodejs
  labels:
    app: austin-nodejs
spec:
  type: LoadBalancer
  ports:
  - port: 80
    targetPort: 3000
    protocol: TCP
    name: http
  selector:
    app: austin-nodejs